/BattleShipUI/obj/Debug
/.vs/BattleShip/v15/sqlite3
/.vs/BattleShip/v15/.suo
/Application/bin/Debug
/Application/obj/Debug
/BattleShipUI/bin/Debug
/Common/bin/Debug
/Common/obj/Debug
/Domain/bin/Debug
/Domain/obj/Debug
/packages/StructureMap.4.7.0
/packages/System.Reflection.Emit.Lightweight.4.3.0
/Tests/obj/Debug
/packages/Castle.Core.4.3.1
/packages/Moq.4.10.0
/packages/NUnit.3.11.0
/packages/System.Threading.Tasks.Extensions.4.3.0
/packages/System.ValueTuple.4.4.0
/.vs/BattleShip/lut/0/0/Application/bin/Debug
/.vs/BattleShip/lut/0/0/BattleShipUI/bin/Debug
/Tests/bin/Debug
/.vs/BattleShip/lut/7456/t/Tests/bin/Debug
/.vs/BattleShip/lut
/packages/NUnit3TestAdapter.3.10.0
